[user]
  email = shapeoflambda@gmail.com
  name = shapeoflambda
[color]
  ui = auto
[core]
  pager = less -FMRiX
  excludesfile = ~/.gitignore_global
  editor = nvim
[push]
  default = simple
[alias]
  a  =  add
  b  =  branch
  c  =  commit
  ca =  commit --amend
  co =  checkout
  d  =  diff
  dc =  diff --cached
  s  =  status
  l  =  "!. ~/.git_helpers/git_pretty_print_log.sh && git_pretty_print_log"
[commit]
  template = ~/.gitmessage
