snippet b "File Header"
#!/bin/bash
#
# ${1:Description}

$0
endsnippet

snippet cf "Comment header for function"
#######################################
# ${1:Description}
# Globals:
#   ${2:GLOBAL_VARIABLE_1}
# Arguments:
#   ${3:Argument 1}
# Outputs:
#   ${4:This outputs ...}
#######################################
endsnippet
	
