snippet comp "create a react component"
import React from "react";

export default class ${1:CompoentName} extends React.Component {

	render() {
		return(
			<div>${2:Template}</div>
		);
	}

}
endsnippet
