* {
  border: none;
  border-radius: 0;
  /* background: transparent; */
  font-family: "SF Pro Display", "Material Design Icons";
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
  color: #fefefe;
}

#workspaces {
  margin-left: 10px;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 3px 5px 3px 5px;
  color: #fefefe;
}

#workspaces button.focused {
  background-color: #0592e9;
  color: #fefefe;
  font-weight:bold;
  /* margin-bottom: -3px; */
  /* margin-top: -3px; */
  /* border-bottom: 3px solid #0592e9; */
  /* margin: 2px 0px 2px 0px; */
}

#mode {
  border-bottom: 3px solid white;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-spotify,
#tray,
#mode {
  padding: 0 10px;
}

#custom-power {
  margin-right: 5px;
}

#idle_inhibitor {
  padding: 0 8px;
}

#clock {
}

#battery {
  color: white;
}

#battery.charging {
  color: white;
}

@keyframes blink {
  to {
    color: white;
  }
}

#battery.warning:not(.charging) {
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  color: rgba(245, 60, 60, 0.6);
  /* color: #ffffff; */
  animation-name: blink;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  color: white;
}

#network.disconnected {
  background: #dd7c7e;
}

#pulseaudio {
  color: white;
}

#pulseaudio.muted {
  color: white;
}

#custom-spotify {
  color: white;
}

#custom-weather {
  color: white;
}

#tray {
}
