* {
    border: none;
    border-radius: 0;
    font-family: 'Product Sans';
    font-size: 17px;
    padding: 0px 3px 0px 0px;
    min-height: 0;
}

window#waybar {
    background: rgba(29, 29, 38, 0.80);
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: white;
}

#workspaces {
    margin-left: 10px;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px 3px 0px 3px;
    color: rgba(95, 111, 128, 0.73);
}


#workspaces button.focused {
    color: #cfd6e6;
    border-bottom: 3px solid white;
    /* margin: 2px 0px 2px 0px; */
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.00);
    /* margin: 2px 0px 2px 0px; */
}

#mode {
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0 8px;
    margin: 0 0px;
}

#custom-power {
    margin-right: 5px;
}

#idle_inhibitor {
  padding: 0 8px;
}

#clock {

}

#battery {
    color: white;
}

#battery.charging {
    color: white;

}

@keyframes blink {
    to {
        color: white;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction : alternate;
}

#battery.critical:not(.charging) {
    color: rgba(245, 60, 60, 0.6);
    /* color: #ffffff; */
    animation-name: blink;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color: white;
}


#network.disconnected {
    background: #dd7c7e;
}

#pulseaudio {
    color: white;
}

#pulseaudio.muted {
    color: white;
}

#custom-spotify {
    color: white;
}

#custom-weather{
    color: white;
}

#tray {
}

